body {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

div {
  width:200px;
  height: 200px;
  margin: 100px;
  background-color: grey;
  color: white;
  text-align: center;
  line-height: 200px;
  float: left;
}

a {
  text-decoration: none;
}