body {
  background-color: black;
  color: white
}

header img {
  width: 10%;
}

nav {
  border: 2px solid white;
  width: 250px;
  height: 100%;
  /* display: none; */
}

.content-box {
  background-color: grey;
  width: 240px;
  height: 60px;
  border-radius: 6px;
  padding: 20px;
}

.content-before {
  font-size: 22px;
  font-family: arial;
  text-align: center;
  line-height: 60px;
}

.content-after {
  display: none;
  font-size: 14px;
  font-family: arial;
  text-align: left;
  line-height: 16px;
  opacity: 0;
}